<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Message Services -->
    <bean id="emailService" class="iuh.fit.se.baitap01.di.EmailService">
        <constructor-arg name="smtpServer" value="smtp.company.com"/>
        <constructor-arg name="port" value="465"/>
    </bean>
    
    <bean id="smsService" class="iuh.fit.se.baitap01.di.SMSService">
        <constructor-arg name="provider" value="Twilio"/>
        <constructor-arg name="apiKey" value="twilio-key-123"/>
    </bean>

    <!-- Notification Managers -->
    <!-- Constructor Injection -->
    <bean id="emailNotificationManager" class="iuh.fit.se.baitap01.di.NotificationManager">
        <constructor-arg name="messageService" ref="emailService"/>
        <constructor-arg name="managerName" value="Email Manager"/>
    </bean>
    
    <!-- Setter Injection -->
    <bean id="flexibleNotificationManager" class="iuh.fit.se.baitap01.di.NotificationManager">
        <property name="messageService" ref="emailService"/>
        <property name="managerName" value="Flexible Manager"/>
    </bean>

</beans>